# deps
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/

# capacitor / android
/android/app/build/
/android/build/
/android/.gradle/
/android/local.properties
/android/app/release/
*.keystore

# env
.env
.env.local

# misc
.DS_Store
*.log
/coverage
next-env.d.ts
*.tsbuildinfo
